/* Goblal Sctructure----------------- */
* {
  box-sizing: border-box;
}

body{
  padding: 20;
}

/* ----------header----------------- */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30 0;
}

.header img {
  margin: 20;
}

.header div {
  margin: 50 80;
}

input{
  padding: 10;
  border-radius: 8px;
  
}

button {
  padding: 8;
  border-radius: 8px;
}

/* -------main-------- */

.main {
  display: flex;
  
}

/* aside */
.aside {
  padding: 10;
}

.aside .perros{
  color:#00ffdf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aside .gatos{
  color: #1fff03;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aside .aves {
  color:#dd00ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.aside li {
  list-style: none;
}

.aside a {
  text-decoration: none;
}

.aside .perroslista a{
  color: #6330ff;
}

.aside .gatoslista a{
  color: #b5b600;
}

.aside .aveslista a{
  color: #036edb;
}

/*------------ section */
.section {
  display: flex;
  flex-wrap: wrap;
  padding: 10;
}

/* -------article  */
.article {

}

.article .span{
  position: relate;
}
.article .position {
  color: red;
  position: absolute;
  
}
